html, body {
    height: 100%;
  }
  
body {
      background-color: #ffffff;
  
      font: 14px sans-serif;
      margin: auto;
      position: relative;
  
      justify-content: center;
  
      align-items: center;
}

.login-header {
    position:absolute;
    top:0;
    right:0;
    padding:5px;
    color:#000000;
}

#login-button {
    color:#000000;
}

#title {
    text-align: center;
}

#homepage {
    font-weight: bold;
}

.topnav {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
  
.topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(183, 67, 67);
    color: rgb(255, 255, 255);
}


