<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- local sources -->
    <script src="../script/globalVariables.js"></script>
    <script src="../script/profile.js"></script>
    <script src="../script/allRecipes.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="login-header">
        <a id="login-button" href="login.html">Sign in</a>
        <a id="profile-button" href="userInfo.html">Profile</na>
            <a id="logout-button" href="../index.html">Sign out</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title">Recepten App</h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="topnav">
                <a id="homepage" href="../index.html">Homepage</a>
                <a id="inventory-page" href="inventory.html">Inventory</a>
                <a id="ingredients-page" href="ingredients.html">Ingredients</a>
                <a id="recipes-page" href="recipes.html">Add Recipe</a>
                <a id="recipes-page" href="AllRecipes.html">All Recipes</a>

            </div>
        </nav>
        <div>
            <!-- <button id="GetRecipes" onclick="getRecipes()">Show All Recipes</button> -->

        </div>

        <div id="go10">

        </div>
    </div>
</body>