<!DOCTYPE html>
<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- local sources -->
    <script src="../script/globalVariables.js"></script>
    <script src="../script/profile.js"></script>
    <script src="../script/myInfo.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <script>
        window.onload = function () {
            checkUrl();
            logInStatus(id);
        }
    </script>
</head>
<body>
    <div id="login-header">
        <a id="login-button" href="login.html">AANMELDEN</a>
        <a id="profile-button" href="myInfo.html">PROFIEL</a>
        <a id="logout-button" href="../index.html">LOG UIT</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title"><img id="headerimg" src="../NoFoodToWaste.png"></h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="topnav">
                <!-- <a id="homepage" href="../index.html">Homepage</a> -->
                <a id="inventory-page" href="inventory.html">VOORRAAD</a>
                <a id="recipes-page" href="recipes.html">VOEG RECEPT TOE</a>
                <a id="recipes-page" href="AllRecipes.html">ALLE RECEPTEN</a>
            </div>
        </nav>
        <div>
            <div id="go1">Naam: </div>
            <div id="go2">Beschrijving: </div>
            <div id="go3">Stad: </div>
            <div id="go4">Straatnaam: </div>
            <div id="go5">Huisnummer: </div>
            <div id="go6">Postcode: </div>
            <input type="button" class="custom-btn positive-button" value="WIJZIG" onclick="editUserInfo()">
            <input type="button" class="custom-btn positive-button" value="VERWIJDER ACCOUNT" onclick="deleteAccount()">
        </div>
    </div>
</body>
