<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- local sources -->
    <script src="../script/globalVariables.js"></script>

    <script src="../script/profile.js"></script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="login-header">
        <a id="login-button" href="login.html">Sign in</a>
        <a id="profile-button" href="myInfo.html">Profile</a>
        <a id="logout-button" href="../index.html">Sign out</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title">Recepten App</h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="topnav">
                <a id="homepage" href="../index.html">Homepage</a>
                <a id="inventory-page" href="inventory.html">Inventory</a>
                <a id="ingredients-page" href="ingredients.html">Ingredients</a>
                <a id="recipes-page" href="recipes.html">Recipes</a>
            </div>
        </nav>
        <div>
            <label for="recipeName">Recept:</label><input type="text" id="recipeName"><br>
            <label for="portions">Portions:</label><input type="text" id="portions"><br>
            <label for="cookingTime">Bereidingstijd:</label><input type="text" id="cookingTime"><br>
            <label for="kitchenApplience">Benodigdheden:</label><input type="text" id="kitchenAppliance"><br>
            <label for="instructions">Instructies:</label><br><textarea id="instructions" rows="20"
                cols="100"></textarea><br>
            <input type="submit" value="Voeg ingredienten toe" id="submitRecipe">
        </div>
    </div>
</body>

<script src="../script/recipe.js"></script>