<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- local sources -->
    <script src="../script/globalVariables.js"></script>

    <script src="../script/profile.js"></script>
    <script>
        window.onload = function () {
            checkUrl();
            logInStatus(id);
            addKitchenApplianceToSelect();
        }
    </script>
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <div id="login-header">
        <a id="login-button" href="login.html">Sign in</a>
        <a id="profile-button" href="myInfo.html">Profile</a>
        <a id="logout-button" href="../index.html">Sign out</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title"><img id="headerimg" src="../NoFoodToWaste.png"></h1>
        </div>
        <nav class="navbar navbar-default fixed-top">
            <div class="topnav">
                <a id="inventory-page" href="inventory.html">Inventory</a>
                <a id="ingredients-page" href="ingredients.html">Ingredients</a>
                <a id="recipes-page" href="recipes.html">Add a Recipe</a>
                <a id="recipes-page" href="AllRecipes.html">All Recipes</a>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="form-group">
                    <label for="recipeName">Recept:</label>
                    <input type="text" class="form-control" id="recipeName">
                </div>
                <div class="form-group">
                    <label for="portions">Portions:</label>
                    <input type="text" class="form-control" id="portions">
                </div>
                <div class="form-group">
                    <label for="cookingTime">Bereidingstijd:</label>
                    <input type="text" class="form-control" id="cookingTime">
                </div>
                <div class="form-group">
                    <label for="kitchenApplience">Benodigdheden:</label>
                    <select class="form-control" id="kitchenApplianceSelect"></select>
                </div>
                <div class="form-group">
                    <label for="Bijzonderheden">Vegetarisch:</label>
                    <input type="checkbox" class="form-control" name="vegetarisch" id="vegetarian">
                </div>
                <div class="form-group">
                    <label for="image">Afbeelding:</label>
                    <input class="form-control" type="file" id="image" onChange="addImageToRecipe(this)">
                </div>
                <div class="form-group">
                    <label for="instructions">Instructies:</label><br>
                    <textarea id="instructions" class="form-control" rows="20"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Voeg ingredienten toe" id="submitRecipe">
                </div>


            </div>


            <!-- <label for="vegetarian">Vegetarisch:</label><input class="messageCheckbox" type="checkbox"
                id="vegetarian"><br> -->



        </div>
    </div>
    
</body>

<script src="../script/recipe.js"></script>