<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <script src="../script/suggestionBasedOnStock.js"></script>
</head>

<body>
   Suggestie bla die bla
   <button onclick="hoi()">Klik hier</button>
   <button onclick="checken()">Klik daar</button>
   <button onclick="giveSuggestion()">Klik vervolgens </button>

   <div id="suggestionBasedOnStock"></div>
</body>

</html>