<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
    <!-- local sources -->
    <script src="../script/globalVariables.js"></script>
    <script src="../script/profile.js"></script>
    <link rel="stylesheet" href="../style/style.css">
    <script>
    </script>
</head>

<body>
    <div id="login-header">
        <a id="login-button" href="login.html">Sign in</a>
        <a id="profile-button" href="myInfo.html">Profile</a>
        <a id="logout-button" href="../index.html">Sign out</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title">Recepten App</h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="topnav">
                <a id="homepage" href="../index.html">Homepage</a>
                <a id="inventory-page" href="inventory.html">Inventory</a>
                <a id="recipes-page" href="recipes.html">Add a recipe</a>
                <a id="recipes-page" href="AllRecipes.html">All Recipes</a>
            </div>
        </nav>
        <div>

        </div>
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <h1>User information</h1>
                        <input type="text" id="uname" name="uname" class="user-info" placeholder="Name"><br><br>
                        <input type="text" id="description" name="description" class="user-info" placeholder="Description"><br><br>
                        <input type="text" id="city" name="city" class="user-info" placeholder="City"><br><br>
                        <input type="text" id="adres1" name="adres1" class="user-info" placeholder="Street"><br><br>
                        <input type="text" id="adres2" name="adres2" class="user-info" placeholder="House number"><br><br>
                        <input type="text" id="adres3" name="adres3" class="user-info" placeholder="House number addition"><br><br>
                        <input type="text" id="adres4" name="adres4" class="user-info" placeholder="Zip code"><br><br>
                        <input type="submit" id="submit" class="custom-btn positive-button" value="SUBMIT">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../script/user.js"></script>
<script src="../script/fillUserInfo.js"></script>