<!DOCTYPE html>

<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../script/user.js"></script>
    <!-- local sources -->
    <link rel="stylesheet" href="../style/style.css">
    <style>
        /* .btn-success{
            size: 10px 20px;
            background-color: aquamarine;
            border: 2px solid red;
        } */
    </style>
    <script>
    </script>
</head>

<body>
    <div id="login-header">
        <a id="login-button" href="login.html">Sign in</a>
    </div>
    <div class="container-fluid">
        <div class="page-header">
            <h1 id="title">Recepten App</h1>
        </div>
        <nav class="navbar navbar-default">
            <div class="topnav">
                <a id="homepage" href="index.html">Homepage</a>
                <a id="inventory-page" href="inventory.html">Inventory</a>
                <a id="ingredients-page" href="ingredients.html">Ingredients</a>
                <a id="recipes-page" href="recipes.html">Recipes</a>
                <a id="UserInfo-page" href="userInfo.html">User profile</a>
            </div>
        </nav>
        <div>

        </div>
        <div>
            

            <form class="userinput" action="/action_page.php">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            
                        </div>
                        <div class="col-sm-3">
                            <h1>User information</h1>
                            <label for="lname">User:</label>
                            <input type="text" id="uname" name="uname" class="form-control"><br><br>
                            <label for="lname">Description:</label>
                            <input type="text" id="description" name="description" class="form-control"><br><br>
                            <label for="lname">City</label>
                            <input type="text" id="city" name="city" class="form-control"><br><br>
                            <label for="lname">Street</label>
                            <input type="text" id="adres1" name="adres1" class="form-control"><br><br>
                            <label for="lname">house number</label>
                            <input type="text" id="adres2" name="adres2" class="form-control"><br><br>
                            <label for="lname">house number addition</label>
                            <input type="text" id="adres3" name="adres3" class="form-control"><br><br>
                            <label for="lname">Zip code</label>
                            <input type="text" id="adres4" name="adres4" class="form-control"><br><br>
                            <input type="button" class="btn btn-success" value="Submit" onclick="addUser()">
                        </div>
                        <div class="col-sm-3">
                            <input type="button" value="klik hier" onclick="ShowAllUsers()">
                            <div id="go"></div>
                            <input type="button" class="btn btn-success" value="klik hier" onclick="ShowAllUsers2()">
                            <div id="go2"></div>
                            <input type="button" class="btn btn-success" value="Nieuwe knop" onclick="showUserInfo()">
                            <div id="go3"></div>
                            Name:<input id="nameInput" class="form-control"> <br>
                            City:<input id="cityInput" class="form-control"> <br>
                            Send: <input type="button" value="send" onclick="">
                        </div>
                    </div>
                </div>






            </form>

        </div>
    </div>
</body>